{% extends "base.html" %}
{% load static %}


{% block title %}Loja online{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-body">Contato</h1>
    <p class="text-body">Envíar um email: <a href="sang@gmail.com" class="text-body">sang@gmail.com</a></p>

    <div class="alert alert-primary">Estamos disponiveis 24 horas</div>
    <div class="alert alert-warning">Fechado Sabados e domingos das 19hr as 7:00</div>
    <div class="alert alert-success">Nosso telefone de suporte 000-000-000</div>
</div>
{% endblock %}