


{% extends 'base.html' %}
{% load static %}

{% block title %}{{ produto.nome }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row g-5 align-items-start">

       
        <div class="col-12 col-md-4">
            <div class="card shadow-sm border-0 overflow-hidden">
                <img src="{% static 'img/produtos/' %}{{ produto.imagen }}" class="detalle-img rounded-3 img-fluid"
                    alt="{{ produto.nome }}">
            </div>
        </div>

       
        <div class="col-12 col-md-8 text-start">

         
            <h1 class="display-5 fw-bold mb-3 text-body">{{ produto.nome }}</h1>

       
            <div class="mb-4">
                <h2 class="text-success fw-bold">R$ :{{ produto.preco }}</h2>
                <small class="text-body-secondary">Taxa Incluido</small>
            </div>

       
            <p class="text-body mb-4"><strong>Disponivel:</strong> {{ produto.detalhes }}</p>

           
            <div class="d-flex flex-column flex-sm-row gap-3 mb-5">
                <a href="#"
                    class="btn btn-success btn-md rounded-3 shadow-sm d-flex align-items-center justify-content-center">
                    <i class="fas fa-shopping-cart me-2"></i>Adicionar Carrinho
                </a>
                <button
                    class="btn btn-outline-danger btn-md rounded-3 shadow-sm d-flex align-items-center justify-content-center">
                    <i class="fas fa-heart me-2"></i>Favoritos
                </button>
                <a href="#"
                    class="btn btn-secondary btn-md rounded-3 shadow-sm d-flex align-items-center justify-content-center mt-3 mt-sm-0">
                    <i class="fas fa-arrow-left me-2"></i>Voltar
                </a>
            </div>

          
            <div class="mb-5">
                <h5 class="fw-semibold mb-3 text-body">Detalhes do produto</h5>
                <p class="mb-1 text-body"><strong>Loja:</strong> {{ produto.detalhes }}</p>
                {% if produto.descricao %}
                <p class="text-body text-body-secondary">{{ produto.descricao }}</p>
                {% endif %}
            </div>

           
            <div>
                <h4 class="fw-semibold mb-3 text-body">Avaliações</h4>
                <p class="text-body text-body-secondary fst-italic">Seção de avaliações de usuários em implementação.</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}